{% extends 'public.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <main class="form-reset-password w-100 m-auto">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <form name="reset_password_request_form" method="post">
            {{ form_row(requestForm._token) }}

            <h1>Reset your password</h1>

            <div class="form-floating">
                <input type="email" name="reset_password_request_form[email]"
                       id="reset_password_request_form_email" class="form-control"
                       autocomplete="email" required autofocus placeholder="Votre adresse e-mail">
                <label for="reset_password_request_form_email" class="required">Votre adresse e-mail</label>
            </div>

            <small><em>
                    Enter your email address, and we will send you a
                    link to reset your password.
                </em></small>

            <button class="btn btn-primary w-100 py-2 mt-4">Send password reset email</button>
        </form>
    </main>
{% endblock %}
